@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
}
.padding {
  padding: 10px 16%;
}
a {
  transition: all 0.5s;
}
.List {
  transition: all 0.4s;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;
}
.List:hover {
  color: red;
}
.header {
  background-image: url("/img/headerBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* better than 100% */
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}
.SHOP {
  transition: all 0.4s;
}
.collection_box {
  transition: all 0.7s;
}
.collection_box:hover {
  box-shadow: 0px 64px 120px -40px rgba(0, 0, 0, 0.16);
}

.About_header {
  background-image: url("/img/aboutheaderBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* better than 100% */
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}
.boxshadow {
  background-color: transparent;
  box-shadow: inset 11px 43px 35px white;
}
.Interrestheader {
  background-image: url("/img/Interested.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}

.icone {
  transition: all 0.6s;
  cursor: pointer;
}
.icone:hover {
  background-color: rgb(141, 199, 55);
}
.footer_list {
  transition: all 0.5s;
  cursor: pointer;
}
.footer_list:hover {
  color: rgb(62, 189, 62);
}
.Contactheader {
  background-image: url("/img/Contact.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* better than 100% */
}
.Cartclorlo {
  color: rgb(101 104 112);
  transition: all 0.50s;
}
.Cartclorlo:hover{
  color: black;
  opacity: 1;
}
@media (max-width: 1500px) {
  .padding {
    padding: 10px 6%;
  }
  .List {
    margin-left: 10px;
  }
}

@media (max-width: 900px) {
  .padding {
    padding: 10px 5%;
  }
  .boxshadow {
    box-shadow: none;
    background-color: transparent;
  }
}
